<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GO Parking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.ico">
    <!-- CSS
		============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/cssanimation.min.css">
    <!-- IonRange slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from above) -->
    <!--
			<link rel="stylesheet" href="assets/css/vendor.min.css">
			<link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
			-->
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        /* CSS comes here */
        #video {
            border: 1px solid black;
            width: 320px;
            height: 240px;
        }
    
        #photo {
            border: 1px solid black;
            width: 320px;
            height: 240px;
        }
    
        #canvas {
            display: none;
        }
    
        .camera {
            width: 340px;
            display: inline-block;
        }
    
        .output {
            width: 340px;
            display: inline-block;
        }
    
        /* #startbutton {
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            bottom: 36px;
            padding: 5px;
            background-color: #6a67ce;
            border: 1px solid rgba(255, 255, 255, 0.7);
            font-size: 14px;
            color: rgba(255, 255, 255, 1.0);
            cursor: pointer;
        } */
    
        .contentarea {
            font-size: 16px;
            font-family: Arial;
            text-align: center;
        }
        </style>
</head>
<body>
    <!--====================  preloader area ====================-->
    <div class="preloader-activate preloader-active">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="img-loader"></div>
            </div>
        </div>
    </div>
    <!--====================  End of preloader area  ====================-->
    <div class="body-wrapper space-pt--70 space-pb--120">
        <!--====================  header area ====================-->
        <header>
            <div class="header-wrapper border-bottom">
                <div class="container space-y--15">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- header logo -->
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            
                        </div>
                        <div class="col-auto">
                            <!-- header menu trigger -->
                            <button class="header-menu-trigger" id="header-menu-trigger">
                                <img src="assets/img/icons/menu.svg" class="injectable" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search keywords -->
            <div class="search-keyword-area space-xy--15 bg-color--grey2" id="search-keyword-box">
                <div class="search-keyword-header space-mb--20">
                    <h4 class="search-keyword-header__title">Hot Keywords</h4>
                </div>
                <ul class="search-keywords">
                    <li><a href="search.html">Shoes</a></li>
                    <li><a href="search.html">Fashion Bag</a></li>
                    <li><a href="search.html">Light Bag</a></li>
                    <li><a href="search.html">Parts</a></li>
                    <li><a href="search.html">Sport Shoes</a></li>
                    <li><a href="search.html">Travel Bag</a></li>
                </ul>
            </div>
        </header>
        <!--====================  End of header area  ====================-->
        <!--====================  mobile menu overlay ====================-->
        <div class="offcanvas-menu" id="offcanvas-menu">
            <div class="profile-card text-center">
                <div class="profile-card__image space-mb--10">
                    <img src="assets/img/profile.jpg" class="img-fluid" alt="">
                </div>
                <div class="profile-card__content">
                    <p class="name">Don Normane <span class="id">ID MD 4350</span></p>
                </div>
            </div>
            <div class="offcanvas-navigation-wrapper space-mt--40">
                <ul class="offcanvas-navigation">
                    <li><span class="icon"><img src="assets/img/icons/profile.svg" class="injectable" alt=""></span><a href="login.html">Login / Sign up</a></li>
                    <li><span class="icon"><img src="assets/img/icons/profile-two.svg" class="injectable" alt=""></span><a href="profile.html">My Profile</a></li>
                    <li><span class="icon"><img src="assets/img/icons/notification.svg" class="injectable" alt=""></span><a href="notification.html">Notification</a></li>
                    <li><span class="icon"><img src="assets/img/icons/product.svg" class="injectable" alt=""></span><a href="shop.html">All products</a></li>
                    <li><span class="icon"><img src="assets/img/icons/cart-two.svg" class="injectable" alt=""></span><a href="order.html">My Order</a></li>
                    <li><span class="icon"><img src="assets/img/icons/cart-three.svg" class="injectable" alt=""></span><a href="cart.html">Cart</a></li>
                    <li><span class="icon"><img src="assets/img/icons/wishlist.svg" class="injectable" alt=""></span><a href="wishlist.html">Wishlist</a></li>
                    <li><span class="icon"><img src="assets/img/icons/gear-two.svg" class="injectable" alt=""></span><a href="edit-profile.html">Settings</a></li>
                    <li><span class="icon"><img src="assets/img/icons/profile.svg" class="injectable" alt=""></span><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!--====================  End of mobile menu overlay  ====================-->
        <!--====================  product image slider ====================-->




        <div class="grand-total ">
            
        </div>



        <div class="space-pb--10 space-mb--10">
            <div class="product-image-single">
                <!-- <img src="assets/img/products/car1.gif" class="img-fluid" alt=""> -->





                <div class="contentarea">
                    <h4>
                        Make a good quality photo
                    </h4>
                    <div class="camera">
                        <video id="video">Video stream not available.</video>
                    </div>
                    
                    <canvas id="canvas"></canvas>
                    <div class="output">
                        <img id="photo" alt="The screen capture will appear in this box.">
                    </div>
                </div>
            
                








                
            </div>
        </div>
        <!--====================  End of product image slider  ====================-->
        <!--====================  product content ====================-->
        
        
        <div class="grand-total space-mt--20">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="grand-total-title">Plate number <span>GRB 494</span></h4>
                        <a href="checkout.html">Report</a>

                        <form action="/upload" method="POST" id="form-id" enctype="multipart/form-data">
                            <!-- <button id="your-id-button">Report2</button> -->
                            <input type="hidden" id="my_hidden" name="my_hidden" value="my_hidden">
                            <input type="submit" id="your-id-button" value="Report">
                        </form>
                        
                        
                        <form method="post" enctype="multipart/form-data" action="/upload">
                            <input type="file" name="file">
                            <input type="submit" value="Submit">
                        </form>

                        <script>
                            var form = document.getElementById("form-id");

                            document.getElementById('your-id-button').onclick = function() {
                                document.getElementById('my_hidden').value = canvas.toDataURL('image/png');
                                document.forms["form-id"].submit();
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>

        
        <!--====================  End of product content  ====================-->
        <!--====================  footer area ====================-->
        <footer>
            <div class="footer-nav-wrapper">
                <a href="index.html" class="footer-nav-single">
                    <div class="menu-wrapper">
                        <img src="assets/img/icons/home.svg" class="injectable" alt="">
                        <span>Home</span>
                    </div>
                </a>
                <a href="chat.html" class="footer-nav-single">
                    <div class="menu-wrapper">
                        <img src="assets/img/icons/chat.svg" class="injectable" alt="">
                        <span>Help</span>
                    </div>
                </a>
                <a  id="startbutton" class="footer-nav-single_camera">
                    <div class="menu-wrapper">
                        <img src="assets/img/icons/camera.svg" class="injectable" alt="">
                         <span>Scan</span> 
                    </div>
                </a>
                <a href="cart.html" class="footer-nav-single">
                    <div class="menu-wrapper">
                        <img src="assets/img/icons/cart.svg" class="injectable" alt="">
                        <span>Rewards</span>
                    </div>
                </a>
                <a href="profile.html" class="footer-nav-single">
                    <div class="menu-wrapper">
                        <img src="assets/img/icons/profile.svg" class="injectable" alt="">
                        <span>Profile</span>
                    </div>
                </a>
            </div>
        </footer>
        <!--====================  End of footer area  ====================-->
    </div>
    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/modernizr-2.8.3.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- IonRanger JS -->
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <!-- SVG inject JS -->
    <script src="assets/js/plugins/svg-inject.min.js"></script>
    <!-- Slick slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from above) -->
    <!--
  <script src="assets/js/plugins/plugins.min.js"></script>
-->
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <script>
        /* JS comes here */
        (function() {
    
            var width = 320; // We will scale the photo width to this
            var height = 0; // This will be computed based on the input stream
    
            var streaming = false;
    
            var video = null;
            var canvas = null;
            var photo = null;
            var startbutton = null;
    
            function startup() {
                video = document.getElementById('video');
                canvas = document.getElementById('canvas');
                photo = document.getElementById('photo');
                startbutton = document.getElementById('startbutton');
    
                navigator.mediaDevices.getUserMedia({
                        video: true,
                        audio: false
                    })
                    .then(function(stream) {
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function(err) {
                        console.log("An error occurred: " + err);
                    });
    
                video.addEventListener('canplay', function(ev) {
                    if (!streaming) {
                        height = video.videoHeight / (video.videoWidth / width);
    
                        if (isNaN(height)) {
                            height = width / (4 / 3);
                        }
    
                        video.setAttribute('width', width);
                        video.setAttribute('height', height);
                        canvas.setAttribute('width', width);
                        canvas.setAttribute('height', height);
                        streaming = true;
                    }
                }, false);
    
                startbutton.addEventListener('click', function(ev) {
                    takepicture();
                    ev.preventDefault();
                }, false);
    
                clearphoto();
            }
    
    
            function clearphoto() {
                var context = canvas.getContext('2d');
                context.fillStyle = "#AAA";
                context.fillRect(0, 0, canvas.width, canvas.height);
    
                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);
            }
    
            function takepicture() {
                var context = canvas.getContext('2d');
                if (width && height) {
                    canvas.width = width;
                    canvas.height = height;
                    context.drawImage(video, 0, 0, width, height);
    
                    var data = canvas.toDataURL('image/png');
                    photo.setAttribute('src', data);
                } else {
                    clearphoto();
                }
            }
    
            window.addEventListener('load', startup, false);
        })();
        </script>
</body>
</html>